.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.btn-input-image {
  border: 1px solid #fff;
  color: #cbcecf;
  background-color: #444444;
  border-radius: 5px;
  border-color: #cbcecf;
  font-size: 17px;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 100%;
}

.upload-btn-wrapper input[type="file"] {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
